<div class="container__content">
    <a [routerLink]="['']"> • HOME • </a>
    <div class="container__cover">
        <img src="{{photoCoverContent}}">
    </div>
    <div class="container__title">
        <h1>
            {{contentTittle}}
        </h1>
    </div>
    <div class="container__description">
        
        <p>
            {{contentDescriptionp}}      
        </p>

        <p>
            {{contentDescriptionp1}}
        </p>

        <p>    
            {{contentDescriptionp2}}
        </p>

        <p>
            {{contentDescriptionp3}}
        </p>

        <p>
            {{contentDescriptionp4}}
        </p>

        <p>
            {{contentDescriptionp5}}
        </p>

        <p>
            {{contentDescriptionp6}}
        </p>

        <p>
            {{contentDescriptionp7}}
        </p>
    </div>
</div>
