
<app-menu-title></app-menu-title>
<div class="container__article">
    <div class="aricles__main">
        <app-big-card photoCover="../assets/imgs/final champions.avif" cardTittle="Assistir uma final de champions é outro sonho que desejo realizar" Id="1"></app-big-card>
    </div>
    <div class="aricles__others">
        <app-small-card photoSmallCard="../assets/imgs/Fortaleza-Esporte-Clube.jpg" tituloSmallCard="Paixão chamada Fortaleza Esporte Clube" Id="2"></app-small-card>
        <app-small-card photoSmallCard="../assets/imgs/era uma vez em hollywood.png" tituloSmallCard="Filme recentemente assistido" Id="3"></app-small-card>
        <app-small-card photoSmallCard="../assets/imgs/traviss scott show.webp" tituloSmallCard="Sonho, um dia estarei lá, cantando até fica roco" Id="4"></app-small-card>
    </div>
</div>